.line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.van-overlay {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.mh {
  height: 100%;
}
.scroll {
  overflow-y: scroll;
  height: 100%;
}
/* 顶部的导航栏不要底部边框 */
.van-hairline--bottom::after {
  border: unset !important;
}
.van-nav-bar__content {
  line-height: 1.5625rem;
  color: #333;
  font-size: 1.125rem;
  padding: 0.9375rem 0;
  height: unset !important;
}
/* tag标签的盒子 */
.tagbox {
  height: 1.1rem;
  overflow: hidden;
  .fl {
    margin-right: 0.3rem;
    margin-bottom: 0.1rem;
  }
}
.van-nav-bar {
  background-color: #fafbff !important;
}
img{
  object-fit: cover !important;
}
.skeleton {
  p {
    background: #f2f3f5 !important;
    border-radius: 0.3rem;
  }
  .van-skeleton {
    padding: 0 !important;
  }
  .van-skeleton__row:not(:first-child) {
    margin-top: 6px;
}
}